{
    "extends": [
        "./node_modules/bestjs/.eslintrc.json"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "lines-around-comment": [
            "error",
            {
                "afterBlockComment": true,
                "afterLineComment": false,
                "allowArrayEnd": true,
                "allowArrayStart": true,
                "allowBlockEnd": true,
                "allowBlockStart": true,
                "allowClassEnd": true,
                "allowClassStart": true,
                "allowObjectEnd": true,
                "allowObjectStart": true,
                "beforeBlockComment": true,
                "beforeLineComment": false,
                "ignorePattern": "^(?:\\*|\\/\\/?)\\n"
            }
        ],
        "no-shadow": "off",
        "no-undef": "off",
        "no-unused-vars": "off",
        "require-jsdoc": [
            "error",
            {
                "require": {
                    "FunctionDeclaration": true,
                    "MethodDefinition": true,
                    "ClassDeclaration": false,
                    "ArrowFunctionExpression": false,
                    "FunctionExpression": false
                }
            }
        ],
        "spaced-comment": [
            "error",
            "always",
            {
                "block": {
                    "exceptions": [
                        "*",
                        "!",
                        "!*"
                    ],
                    "markers": [
                        "*",
                        "!",
                        "!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*\\"
                    ]
                },
                "line": {
                    "exceptions": [
                        "/"
                    ],
                    "markers": [
                        "/"
                    ]
                }
            }
        ],
        "valid-jsdoc": "off",
        "@typescript-eslint/no-explicit-any": "error"
    }
}
